<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>天天生鲜－首页</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
</head>
<body>
<input type="hidden" th:value="${session.username}" id="username"/>
<script type="text/javascript">
    $(function () {
        var username = $('#username').val();
        if (username == '' || username == null) {
            $("#login_info").css('display', 'none');
            $("#login_btn").css('display', 'block');
        } else {
            $("#login_info").css('display', 'block');
            $("#login_btn").css('display', 'none');
        }
    });
</script>
<!--头部  开始-->
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到天天生鲜!</div>
        <div class="login_btn fl"></div>
        <div class="fr">
            <div class="login_info fl" id="login_info">
                欢迎您：<em>"<span th:text="${session.username}"></span>"</em>
                <a th:href="@{userQuit}" class="zhuxiao">注销</a>
            </div>
            <div class="login_btn fl" id="login_btn">
                <a th:href="@{toUserLogin}">登录</a>
                <span>|</span>
                <a th:href="@{toUserRegister}">注册</a>
            </div>

            <div class="user_link fl">
                <span>|</span>
                <a href="javascript:;" onclick="customer()">用户中心</a>
                <span>|</span>
                <a href="javascript:;" onclick="shop()">我的购物车</a>
                <span>|</span>
                <a href="javascript:;" onclick="order()">我的订单</a>
                <script type="text/javascript">
                    var username = $('#username').val();
                    function customer() {
                        if (username == '' || username == null) {
                            layer.alert('请先登录', {
                                icon: 5,
                                skin: 'layer-ext-moon'
                            });
                        } else {
                            window.location.href = "toCustomer";
                        }
                    }

                    function shop() {
                        if (username == '' || username == null) {
                            layer.alert('请先登录', {
                                icon: 5,
                                skin: 'layer-ext-moon'
                            });
                        } else {
                            window.location.href = "toShop";
                        }
                    }

                    function order() {
                        if (username == '' || username == null) {
                            layer.alert('请先登录', {
                                icon: 5,
                                skin: 'layer-ext-moon'
                            });
                        } else {
                            window.location.href = "toOrder";
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</div>
<!--头部 结束-->

<!--导航和轮播部分 开始-->
<div class="search_bar clearfix">
    <a href="#" class="logo fl"><img src="images/logo.png"></a>
    <div class="search_con fl">
        <form method="post" th:action="@{goodsSearch}">
            <input type="text" class="input_text fl" name="search" placeholder="搜索商品">
            <input type="submit" class="input_btn fr" value="搜索">
        </form>
    </div>
    <div class="guest_cart fr">
        <a href="javascript:;" onclick="shop2()" class="cart_name fl">我的购物车</a>
        <script type="text/javascript">
            var username = $('#username').val();
            function shop2() {
                shop();
            }
        </script>
        <div class="goods_count fl" id="show_count" th:text="${session.count}"></div>
    </div>
</div>

<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">全部商品分类</h1>
        <ul class="navlist fl">
            <li><a href="#">首页</a></li>
            <li class="interval">|</li>
            <li><a href="#">手机生鲜</a></li>
            <li class="interval">|</li>
            <li><a href="#">抽奖</a></li>
        </ul>
    </div>
</div>

<div class="center_con clearfix">
    <ul class="subnav fl">
        <li><a href="#model01" class="fruit">新鲜水果</a></li>
        <li><a href="#model02" class="seafood">海鲜水产</a></li>
        <li><a href="#model03" class="meet">猪牛羊肉</a></li>
        <li><a href="#model04" class="egg">禽类蛋品</a></li>
        <li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
        <li><a href="#model06" class="ice">速冻食品</a></li>
    </ul>
    <div class="slide fl">
        <ul class="slide_pics">
            <li><img src="images/所有商品/slide.jpg" alt="幻灯片"></li>
            <li><img src="images/所有商品/slide02.jpg" alt="幻灯片"></li>
            <li><img src="images/所有商品/slide03.jpg" alt="幻灯片"></li>
            <li><img src="images/所有商品/slide04.jpg" alt="幻灯片"></li>
        </ul>
        <div class="prev"></div>
        <div class="next"></div>
        <ul class="points"></ul>
    </div>

    <div class="adv fl">
        <a href="#"><img src="images/所有商品/adv01.jpg"></a>
        <a href="#"><img src="images/所有商品/adv02.jpg"></a>
    </div>
</div>
<!--导航和轮播部分 结束-->

<!--全部商品 开始-->
<div class="list_model">
    <div class="list_title clearfix">
        <h3 class="fl" id="model01">新鲜水果</h3>
        <div class="subtitle fl" id="fruit">
            <span>|</span>
        </div>
        <input type="hidden" value="新鲜水果"/>
        <a href="javascript:;" onclick="more(this)" class="goods_more fr" id="fruit_more">查看更多 &gt;</a>
    </div>

    <div class="goods_con clearfix">
        <div class="goods_banner fl"><img src="images/所有商品/banner01.jpg"></div>
        <ul class="goods_list fl" id="fruitList">
        </ul>
    </div>
</div>

<div class="list_model">
    <div class="list_title clearfix">
        <h3 class="fl" id="model02">海鲜水产</h3>
        <div class="subtitle fl" id="seafood">
            <span>|</span>
        </div>
        <input type="hidden" value="海鲜水产"/>
        <a href="javascript:;" onclick="more(this)" class="goods_more fr">查看更多 &gt;</a>
    </div>

    <div class="goods_con clearfix">
        <div class="goods_banner fl"><img src="images/所有商品/banner02.jpg"></div>
        <ul class="goods_list fl" id="seafoodList">
        </ul>
    </div>
</div>

<div class="list_model">
    <div class="list_title clearfix">
        <h3 class="fl" id="model03">猪牛羊肉</h3>
        <div class="subtitle fl" id="meat">
            <span>|</span>
        </div>
        <input type="hidden" value="猪牛羊肉"/>
        <a href="javascript:;" onclick="more(this)" class="goods_more fr">查看更多 &gt;</a>
</div>

    <div class="goods_con clearfix">
        <div class="goods_banner fl"><img src="images/所有商品/banner03.jpg"></div>
        <ul class="goods_list fl" id="meatList">
        </ul>
    </div>
</div>

<div class="list_model">
    <div class="list_title clearfix">
        <h3 class="fl" id="model04">禽类蛋品</h3>
        <div class="subtitle fl" id="eggs">
            <span>|</span>
        </div>
        <input type="hidden" value="禽类蛋品"/>
        <a href="javascript:;" onclick="more(this)" class="goods_more fr">查看更多 &gt;</a>
    </div>

    <div class="goods_con clearfix">
        <div class="goods_banner fl"><img src="images/所有商品/banner04.jpg"></div>
        <ul class="goods_list fl" id="eggsList">
        </ul>
    </div>
</div>

<div class="list_model">
    <div class="list_title clearfix">
        <h3 class="fl" id="model05">新鲜蔬菜</h3>
        <div class="subtitle fl" id="vegetables">
            <span>|</span>
        </div>
        <input type="hidden" value="新鲜蔬菜"/>
        <a href="javascript:;" onclick="more(this)" class="goods_more fr">查看更多 &gt;</a>
    </div>

    <div class="goods_con clearfix">
        <div class="goods_banner fl"><img src="images/所有商品/banner05.jpg"></div>
        <ul class="goods_list fl" id="vegetablesList">
        </ul>
    </div>
</div>

<div class="list_model">
    <div class="list_title clearfix">
        <h3 class="fl" id="model06">速冻食品</h3>
        <div class="subtitle fl" id="freeze">
            <span>|</span>
        </div>
        <input type="hidden" value="速冻食品"/>
        <a href="javascript:;" onclick="more(this)" class="goods_more fr">查看更多 &gt;</a>
    </div>

    <div class="goods_con clearfix">
        <div class="goods_banner fl"><img src="images/所有商品/banner06.jpg"></div>
        <ul class="goods_list fl" id="freezeList">
        </ul>
    </div>
</div>
<!--全部商品 结束-->
<script type="text/javascript">
    $(function () {
        $.post(
            "indexList",
            function (data) {
                if (data.status == 0) {
                    var goodsList = data.result;
                    for (var i = 0; i < goodsList.length; i++) {
                        if (goodsList[i].groupid == '新鲜水果') {
                            var fruitMsg = goodsList[i].msg.length>19?goodsList[i].msg.substring(0,18)+"...":goodsList[i].msg;
                            $('#fruit').append('<a href="javascript:;" onclick="fruit(this)"><input type="hidden" value="' + goodsList[i].id + '"/> ' + fruitMsg + ' </a>');
                            $('#fruitList').append('<li> ' +
                                '<h4><a href="javascript:;" onclick="fruit(this)"><input type="hidden" value="' + goodsList[i].id + '"/>' + goodsList[i].msg + ' </a></h4>' +
                                '<a href="javascript:;" onclick="fruit(this)"><input type="hidden" value="' + goodsList[i].id + '"/><img src="http://127.0.0.1:8080/' + goodsList[i].photo + '"></a>' +
                                '<div class="prize">¥ ' + goodsList[i].price + '</div>' +
                                '</li>');
                            if ($('#fruit>a').length > 4) {
                                $('#fruit').children().eq(1).remove();
                                $('#fruitList').children().eq(0).remove();
                            }
                        } else if (goodsList[i].groupid == '海鲜水产') {
                            var seaMsg = goodsList[i].msg.length>19?goodsList[i].msg.substring(0,18)+"...":goodsList[i].msg;
                            $('#seafood').append('<a href="javascript:;" onclick="seafood(this)"><input type="hidden" value="' + goodsList[i].id + '"/> ' + seaMsg + ' </a>');
                            $('#seafoodList').append('<li>' +
                                '<h4><a href="javascript:;" onclick="seafood(this)"><input type="hidden" value="' + goodsList[i].id + '"/> ' + goodsList[i].msg + ' </a></h4>' +
                                '<a href="javascript:;" onclick="seafood(this)"><input type="hidden" value="' + goodsList[i].id + '"/><img src="http://127.0.0.1:8080/' + goodsList[i].photo + '"></a>' +
                                '<div class="prize">¥ ' + goodsList[i].price + '</div>' +
                                '</li>');
                            if ($('#seafood>a').length > 4) {
                                $('#seafood').children().eq(1).remove();
                                $('#seafoodList').children().eq(0).remove();
                            }
                        } else if (goodsList[i].groupid == '猪牛羊肉') {
                            var meatMsg = goodsList[i].msg.length>19?goodsList[i].msg.substring(0,18)+"...":goodsList[i].msg;
                            $('#meat').append('<a href="javascript:;" onclick="meat(this)"><input type="hidden" value="' + goodsList[i].id + '"/> ' + meatMsg + ' </a>');
                            $('#meatList').append('<li>' +
                                '<h4><a href="javascript:;" onclick="meat(this)"><input type="hidden" value="' + goodsList[i].id + '"/> ' + goodsList[i].msg + ' </a></h4>' +
                                '<a href="javascript:;" onclick="meat(this)"><input type="hidden" value="' + goodsList[i].id + '"/><img src="http://127.0.0.1:8080/' + goodsList[i].photo + '"></a>' +
                                '<div class="prize">¥ ' + goodsList[i].price + '</div>' +
                                '</li>');
                            if ($('#meat>a').length > 4) {
                                $('#meat').children().eq(1).remove();
                                $('#meatList').children().eq(0).remove();
                            }
                        } else if (goodsList[i].groupid == '禽类蛋品') {
                            var eggsMsg = goodsList[i].msg.length>19?goodsList[i].msg.substring(0,18)+"...":goodsList[i].msg;
                            $('#eggs').append('<a href="javascript:;" onclick="eggs(this)"><input type="hidden" value="' + goodsList[i].id + '"/> ' + eggsMsg + ' </a>');
                            $('#eggsList').append('<li>' +
                                '<h4><a href="javascript:;" onclick="eggs(this)"><input type="hidden" value="' + goodsList[i].id + '"/> ' + goodsList[i].msg + ' </a></h4>' +
                                '<a href="javascript:;" onclick="eggs(this)"><input type="hidden" value="' + goodsList[i].id + '"/><img src="http://127.0.0.1:8080/' + goodsList[i].photo + '"></a>' +
                                '<div class="prize">¥ ' + goodsList[i].price + '</div>' +
                                '</li>');
                            if ($('#eggs>a').length > 4) {
                                $('#eggs').children().eq(1).remove();
                                $('#eggsList').children().eq(0).remove();
                            }
                        } else if (goodsList[i].groupid == '新鲜蔬菜') {
                            var vegeMsg = goodsList[i].msg.length>19?goodsList[i].msg.substring(0,18)+"...":goodsList[i].msg;
                            $('#vegetables').append('<a href="javascript:;" onclick="vegetables(this)"><input type="hidden" value="' + goodsList[i].id + '"/> ' + vegeMsg + ' </a>');
                            $('#vegetablesList').append('<li>' +
                                '<h4><a href="javascript:;" onclick="vegetables(this)"><input type="hidden" value="' + goodsList[i].id + '"/> ' + goodsList[i].msg + ' </a></h4>' +
                                '<a href="javascript:;" onclick="vegetables(this)"><input type="hidden" value="' + goodsList[i].id + '"/><img src="http://127.0.0.1:8080/' + goodsList[i].photo + '"></a>' +
                                '<div class="prize">¥ ' + goodsList[i].price + '</div>' +
                                '</li>');
                            if ($('#vegetables>a').length > 4) {
                                $('#vegetables').children().eq(1).remove();
                                $('#vegetablesList').children().eq(0).remove();
                            }
                        } else if (goodsList[i].groupid == '速冻食品') {
                            var freezeMsg = goodsList[i].msg.length>19?goodsList[i].msg.substring(0,18)+"...":goodsList[i].msg;
                            $('#freeze').append('<a href="javascript:;" onclick="freeze(this)"><input type="hidden" value="' + goodsList[i].id + '"/> ' + freezeMsg + ' </a>');
                            $('#freezeList').append('<li>' +
                                '<h4><a href="javascript:;" onclick="freeze(this)"><input type="hidden" value="' + goodsList[i].id + '"/> ' + goodsList[i].msg + ' </a></h4>' +
                                '<a href="javascript:;" onclick="freeze(this)"><input type="hidden" value="' + goodsList[i].id + '"/><img src="http://127.0.0.1:8080/' + goodsList[i].photo + '"></a>' +
                                '<div class="prize">¥ ' + goodsList[i].price + '</div>' +
                                '</li>');
                            if ($('#freeze>a').length > 4) {
                                $('#freeze').children().eq(1).remove();
                                $('#freezeList').children().eq(0).remove();
                            }
                        }
                    }
                } else if (data.status == 1) {
                    layer.msg(data.message);
                } else {
                    layer.msg('网络异常');
                }
            }
        );
    })

    function more(btn) {
        var $groupid = $(btn);
        var groupid = $($groupid[0]).prev().val();
        $.get(
            "readMore",
            {"groupid":groupid},
            function (data) {
                if (data.status == 0){
                    window.location.href = "readMoreSecond?groupid=" + groupid;
                }else if (data.status == 1){
                    layer.msg(data.message);
                }else {
                    layer.msg('网络异常');
                }
            }
        );
    }

    function fruitMore() {
        var groupid = '新鲜水果';
        window.location.href = "readMore?groupid=" + groupid;
    }

    function seafoodMore() {
        var groupid = '海鲜水产';
        window.location.href = "readMore?groupid=" + groupid;
    }

    function meatMore() {
        var groupid = '猪牛羊肉';
        window.location.href = "readMore?groupid=" + groupid;
    }

    function eggsMore() {
        var groupid = '禽类蛋品';
        window.location.href = "readMore?groupid=" + groupid;
    }

    function vegetablesMore() {
        var groupid = '新鲜蔬菜';
        window.location.href = "readMore?groupid=" + groupid;
    }

    function freezeMore() {
        var groupid = '速冻食品';
        window.location.href = "readMore?groupid=" + groupid;
    }

    function fruit(btn) {
        var id = $(btn).children().first().val();
        window.location.href = "shopMessage?id=" + id;
    }

    function seafood(btn) {
        var id = $(btn).children().first().val();
        window.location.href = "shopMessage?id=" + id;
    }

    function meat(btn) {
        var id = $(btn).children().first().val();
        window.location.href = "shopMessage?id=" + id;
    }

    function eggs(btn) {
        var id = $(btn).children().first().val();
        window.location.href = "shopMessage?id=" + id;
    }

    function vegetables(btn) {
        var id = $(btn).children().first().val();
        window.location.href = "shopMessage?id=" + id;
    }

    function freeze(btn) {
        var id = $(btn).children().first().val();
        window.location.href = "shopMessage?id=" + id;
    }
</script>
<div class="footer login_footer">
</div>
</body>
</html>