<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>天天生鲜－商品列表</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
</head>
<body>
<input type="hidden" th:value="${session.username}" id="username"/>
<script type="text/javascript">
    $(function () {
        var username = $('#username').val();
        if (username == '' || username == null) {
            $("#login_info").css('display', 'none');
            $("#login_btn").css('display', 'block');
        } else {
            $("#login_info").css('display', 'block');
            $("#login_btn").css('display', 'none');
        }
    });
</script>
<!--头部开始-->
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到天天生鲜!</div>
        <div class="login_btn fl"></div>
        <div class="fr">
            <div class="login_info fl" id="login_info">
                欢迎您：<em>"<span th:text="${session.username}"></span>"</em>
                <a th:href="@{userQuit}" class="zhuxiao">注销</a>
            </div>
            <div class="login_btn fl" id="login_btn">
                <a th:href="@{toUserLogin}">登录</a>
                <span>|</span>
                <a th:href="@{toUserRegister}">注册</a>
            </div>

            <div class="user_link fl">
                <span>|</span>
                <a href="javascript:;" onclick="customer()">用户中心</a>
                <span>|</span>
                <a href="javascript:;" onclick="shop()">我的购物车</a>
                <span>|</span>
                <a href="javascript:;" onclick="order()">我的订单</a>
                <script type="text/javascript">
                    var username = $('#username').val();
                    function customer() {
                        if (username == '' || username == null) {
                            layer.alert('请先登录', {
                                icon: 5,
                                skin: 'layer-ext-moon'
                            });
                        } else {
                            window.location.href = "toCustomer";
                        }
                    }

                    function shop() {
                        if (username == '' || username == null) {
                            layer.alert('请先登录', {
                                icon: 5,
                                skin: 'layer-ext-moon'
                            });
                        } else {
                            window.location.href = "toShop";
                        }
                    }

                    function order() {
                        if (username == '' || username == null) {
                            layer.alert('请先登录', {
                                icon: 5,
                                skin: 'layer-ext-moon'
                            });
                        } else {
                            window.location.href = "toOrder";
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</div>
<!--头部结束-->

<div class="search_bar clearfix">
    <a href="toIndex" class="logo fl"><img src="images/logo.png"></a>
    <div class="search_con fl">
        <form method="post" th:action="@{goodsSearch}">
            <input type="text" class="input_text fl" name="search" placeholder="搜索商品">
            <input type="submit" class="input_btn fr" value="搜索">
        </form>
    </div>
    <div class="guest_cart fr">
        <a href="javascript:;" onclick="shop2()" class="cart_name fl">我的购物车</a>
        <script type="text/javascript">
            var username = $('#username').val();
            function shop2() {
                shop();
            }
        </script>
        <div class="goods_count fl" id="show_count" th:text="${session.count}"></div>
    </div>
</div>
<div class="navbar_con">
    <div class="navbar clearfix">
        <div class="subnav_con fl">
            <h1>全部商品分类</h1>
            <span></span>
            <ul class="subnav">
                <li>
                    <input type="hidden" value="新鲜水果"/>
                    <a href="javascript:;" onclick="more(this)" class="fruit">新鲜水果</a>
                </li>
                <li>
                    <input type="hidden" value="海鲜水产"/>
                    <a href="javascript:;" onclick="more(this)" class="seafood">海鲜水产</a>
                </li>
                <li>
                    <input type="hidden" value="猪牛羊肉"/>
                    <a href="javascript:;" onclick="more(this)" class="meet">猪牛羊肉</a>
                </li>
                <li>
                    <input type="hidden" value="禽类蛋品"/>
                    <a href="javascript:;" onclick="more(this)" class="egg">禽类蛋品</a>
                </li>
                <li>
                    <input type="hidden" value="新鲜蔬菜"/>
                    <a href="javascript:;" onclick="more(this)" class="vegetables">新鲜蔬菜</a>
                </li>
                <li>
                    <input type="hidden" value="速冻食品"/>
                    <a href="javascript:;" onclick="more(this)" class="ice">速冻食品</a>
                </li>
            </ul>
        </div>
        <ul class="navlist fl">
            <li><a th:href="@{toIndex}">首页</a></li>
            <li class="interval">|</li>
            <li><a href="#">手机生鲜</a></li>
            <li class="interval">|</li>
            <li><a href="#">抽奖</a></li>
        </ul>
    </div>
</div>

<div class="breadcrumb">
    <a th:href="@{toIndex}">全部分类</a>
    <span>&gt;</span>
    <span th:text="${groupid}"></span>
</div>

<div class="main_wrap clearfix">
    <div class="l_wrap fl clearfix">
        <div class="new_goods">
            <h3>新品推荐</h3>
            <ul id="goodsPartImg">
                <li th:each="goodsPart:${goodsPart}">
                    <input type="hidden" th:value="${goodsPart.id}"/>
                    <a href="javascript:;" onclick="goodsPart(this)"><img th:src="${goodsPart.photo}"></a>
                    <h4><input type="hidden" th:value="${goodsPart.id}"/><a href="javascript:;"
                                                                            onclick="goodsPart(this)"
                                                                            th:text="${goodsPart.msg}"></a></h4>
                    <div class="prize">￥<span th:text="${goodsPart.price}"></span></div>
                </li>
            </ul>
        </div>
    </div>

    <div class="r_wrap fr clearfix">
        <div class="sort_bar">

            <a href="#" class="active">默认</a>
<!--            <a href="#">价格</a>-->
<!--            <a href="#">人气</a>-->

        </div>

        <ul class="goods_type_list clearfix" id="goodsImg">
            <li th:each="goods:${goodslist}">
                <input type="hidden" th:value="${goods.id}"/>
                <a href="javascript:;" onclick="goods(this)"><img th:src="${goods.photo}"></a>
                <h4><input type="hidden" th:value="${goods.id}"/><a href="javascript:;" onclick="goods(this)"
                                                                    th:text="${goods.msg}"></a></h4>
                <div class="operate">
                    <input type="hidden" th:value="${goods.id}"/>
                    <span class="prize">￥<span th:text="${goods.price}"></span></span>
                    <span class="unit"><span th:text="${goods.price}"></span>/<span
                            th:text="${goods.gross}"></span></span>
                    <a href="javascript:;" onclick="goodsCar(this)" class="add_goods" title="加入购物车"></a>
                    <span id="spanid" style="display: none">45</span>
                </div>
            </li>
        </ul>
        <div class="pagenation">
<!--            <a class="active">1</a>-->
        </div>
    </div>
</div>

<!--底部 开始-->
<div class="footer login_footer">
</div>
<!--底部 结束-->

<script>
    $(".add_goods").click(function () {
        $.get("/cart/updatecart/add/1/" + $(this).next().html() + "/1", function (data) {
            if (data.data != 0) {
                $("#show_count").html(data.data);
            }
        });
    });

    function goodsCar(btn) {
        var $ids = $(btn).siblings();
        var goodsid = $($ids[0]).val();
        var shuliang = "1";
        var username = $('#username').val();
        if (username == '' || username == null) {
            layer.alert('请先登录', {
                icon: 5,
                skin: 'layer-ext-moon'
            });
        } else {
            layer.confirm('是否加入购物车?', {btn: ['添加', '取消']}, function (){
                $.post(
                    "addGoodsCar",
                    {"goodsid": goodsid, "shuliang": shuliang},
                    function (data) {
                        if (data.status == 0) {
                            window.location.reload();
                        } else if (data.status == 1) {
                            layer.msg(data.message);
                        } else {
                            layer.msg('网络异常');
                        }
                    }
                );
            })
        }
    }

    function goodsPart(btn) {
        var $ids = $(btn).siblings();
        var id = $($ids[0]).val();
        window.location.href = "shopMessage?id=" + id;
    }

    function goods(btn) {
        var $ids = $(btn).siblings();
        var id = $($ids[0]).val();
        window.location.href = "shopMessage?id=" + id;
    }

    function more(btn) {
        var $groupid = $(btn);
        var groupid = $($groupid[0]).prev().val();
        $.get(
            "readMore",
            {"groupid":groupid},
            function (data) {
                if (data.status == 0){
                    window.location.href = "readMoreSecond?groupid=" + groupid;
                }else if (data.status == 1){
                    layer.msg(data.message);
                }else {
                    layer.msg('网络异常');
                }
            }
        );
    }

    function fruitMore() {
        var groupid = '新鲜水果';
        window.location.href = "readMore?groupid=" + groupid;
    }

    function seafoodMore() {
        var groupid = '海鲜水产';
        window.location.href = "readMore?groupid=" + groupid;
    }

    function meatMore() {
        var groupid = '猪牛羊肉';
        window.location.href = "readMore?groupid=" + groupid;
    }

    function eggsMore() {
        var groupid = '禽类蛋品';
        window.location.href = "readMore?groupid=" + groupid;
    }

    function vegetablesMore() {
        var groupid = '新鲜蔬菜';
        window.location.href = "readMore?groupid=" + groupid;
    }

    function freezeMore() {
        var groupid = '速冻食品';
        window.location.href = "readMore?groupid=" + groupid;
    }
</script>
</body>
</html>